body{
    background-color: #f7f6f6;
    height: 100vh;
    
}

table thead{
    background-color: #0a4f70;
    color: white;
}




.esconde{
    display: none !important;
}

.mostra{
    display:inline !important;
}

.dataTables_filter{
    margin-bottom: 5px;
}

.dataTables_length{
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
}


.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;

}

main .card {
    margin-bottom: 20px;
}


.colMain{
    position: relative;
    left: 10%;
    top: 10%;
}