body{
    background-color: #f7f6f6;
}

table thead{
    background-color: #0a4f70;
    color: white;
}





.esconde{
    display: none !important;
}

.mostra{
    display:inline !important;
}

.dataTables_filter{
    margin-bottom: 5px;
}

.dataTables_length{
    margin-top: 10px;
    margin-bottom: 10px;
}